In [5]:
import pandas as pd              # v2.0.1
import numpy as np               # v1.24.3
#import matplotlib.pyplot as plt  # v3.7.1
#import folium                    # v0.14.0
# adding a comment to test git integration

In [5]:
col_type = {'TaxYear' : 'int16', 'TotAppr' : 'int32', 'TotAssess' : 'int32', 'LandAppr' : 'int32'}
atlanta_df = pd.read_csv(r'CleanedAtlantaPropertyData_2009-2022.csv', sep=',', dtype=col_type)
atlanta_df.head()

C:\Users\Owner\AppData\Local\Temp\ipykernel_21020\3640935704.py:2: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  atlanta_df = pd.read_csv(r'CleanedAtlantaPropertyData_2009-2022.csv', sep=',', dtype=col_type)

,OBJECTID,TaxYear,Owner,ParcelID,Address,AddrStreet,TaxDist,LUCode,NbrHood,TotAppr,TotAssess,LandAppr,LandAssess,LivUnits,LandAcres
0,10,2009,MALLORY TAMIKA,14 0245 LL2979,904 SOCIETY CIR,NaN,05,107,14593,0,0,0,NaN,1.0,NaN
1,11,2009,BELL EDWINA S,14 0245 LL2987,906 SOCIETY CIR,NaN,05,107,14593,0,0,0,NaN,1.0,NaN
2,16,2009,CB HABERSHAM III LLC,17 009800110426,3564 ROSWELL RD UNIT 55,NaN,05,107,1177,0,0,0,NaN,1.0,NaN
3,19,2009,HOUSING AUTH OF THE CITY OF ATLANTA THE,17 0225 LL0566,1565 HABERSHAL RD,NaN,05V,600,14091,0,0,0,NaN,0.0,NaN
4,7627,2009,CHAMPAGNE DEIDRA,17 015200071001,684 ANTONE ST NW UNIT 105,NaN,05,398,C405,0,0,0,NaN,0.0,NaN

In [19]:
atlanta_df['TaxYear'].unique()
# There is no 2022 data. I don't know if they mislabeled the db or got 2023 done early.

array([2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019,
       2020, 2021, 2023], dtype=int16)

In [15]:
test = atlanta_df.set_index('ParcelID', drop=False)
id = test.iloc[1]['ParcelID']
test.loc[id]

,OBJECTID,TaxYear,Owner,ParcelID,Address,AddrStreet,TaxDist,LUCode,NbrHood,TotAppr,TotAssess,LandAppr,LandAssess,LivUnits,LandAcres
ParcelID,,,,,,,,,,,,,,,
14 0245 LL2987,11,2009,BELL EDWINA S,14 0245 LL2987,906 SOCIETY CIR,NaN,05,107,14593,0,0,0,NaN,1.0,NaN
14 0245 LL2987,36360,2010,BELL EDWINA S,14 0245 LL2987,906 SOCIETY CIR,NaN,05,107,14593,86300,34520,8400,NaN,1.0,NaN
14 0245 LL2987,221333,2011,BELL EDWINA S,14 0245 LL2987,906 SOCIETY CIR,SOCIETY,05,107,14593,47400,18960,12600,5040.0,1.0,0.019995
14 0245 LL2987,255858,2012,BELL EDWINA S,14 0245 LL2987,906 SOCIETY CIR,SOCIETY,05,107,14593,38400,15360,10200,4080.0,1.0,0.019995
14 0245 LL2987,271798,2013,BELL EDWINA S,14 0245 LL2987,906 SOCIETY CIR,SOCIETY,05,107,14593,34900,13960,10400,4160.0,1.0,0.019995
14 0245 LL2987,81516,2014,BELL EDWINA S,14 0245 LL2987,906 SOCIETY CIR,SOCIETY,05,107,14593,34900,13960,10400,4160.0,1.0,0.019995
14 0245 LL2987,302750,2015,BELL EDWINA S,14 0245 LL2987,906 SOCIETY CIR,SOCIETY,05,107,14593,92000,36800,8100,3240.0,1.0,0.019995
14 0245 LL2987,271798,2016,BELL EDWINA S,14 0245 LL2987,906 SOCIETY CIR,SOCIETY,05,107,14593,92000,36800,8100,3240.0,1.0,0.020000
14 0245 LL2987,271798,2017,BELL EDWINA S,14 0245 LL2987,906 SOCIETY CIR,SOCIETY,05,107,14593,82400,32960,8800,3520.0,1.0,0.020000
14 0245 LL2987,140141,2018,BELL EDWINA S,14 0245 LL2987,906 SOCIETY CIR,SOCIETY,05,107,14593,82400,32960,8800,3520.0,1.0,0.020000
14 0245 LL2987,271798,2019,BELL EDWINA S,14 0245 LL2987,906 SOCIETY CIR,SOCIETY,05,107,14593,99800,39920,8800,3520.0,1.0,0.020000
14 0245 LL2987,271798,2020,BELL EDWINA S,14 0245 LL2987,906 SOCIETY CIR,SOCIETY,05,107,14593,139500,55800,11300,4520.0,1.0,0.020000
14 0245 LL2987,271798,2021,BELL EDWINA S,14 0245 LL2987,906 SOCIETY CIR,SOCIETY,05,107,14593,166200,66480,26100,10440.0,1.0,0.020000
14 0245 LL2987,271798,2023,BELL EDWINA S,14 0245 LL2987,906 SOCIETY CIR,SOCIETY,05,107,14593,171200,68480,26900,10760.0,1.0,0.020000

In [ ]:
# Only finds sales where the owner left atlanta the next tax year
def parcel_sale(df_list):
    ''' returns parcels sold where owner left Atlanta in a given year'''
    # feels like a kludgey way to select the next element
    i = 0
    leave_df = pd.DataFrame( {'ParcelID': [], 'TaxYear': []})
    for owner in df_list:
        n = i+1
        if i == len(df_list)-1:
            return sales_df
        else:
            sales = owner[owner['Owner'].isin(df_list[n]['Owner']) == False]
            leave_df = pd.concat([leave_df, sales[['ParcelID', 'TaxYear', 'TaxDist', 'TotAssess',
                                                   'TotAppr', 'LivUnits']]])
            i += 1

In [ ]:
def parcel_sales_refactor(df_list):
    '''return parcels sold in a given year'''
    sold_df = pd.DataFrame({'ParcelID':[], 'TaxYear':[]})

In [ ]:
def year_sales(year_list, sales_df):
    '''Takes a list of years and a dataframe of sales records and returns a dict of sales per year'''
    sales_per_year = {}
    for x in year_list:
        sales_per_year[x] = len(sales_df[sales_df['TaxYear']==x])
    return sales_per_year

## Analysis
- [ ] which owners changed year to year
    - [ ]  How many ['Owner']s have more than one property
- [ ] How many parcels changed owners during a given year
- [ ] property value year to year.
- [ ] Bar Chart sales v time
- [ ] Line graph property value
- [ ] Changes in livable units
- [ ] Local coverage of gentrification v tax records?  
| ParcelID | Owner | TaxDist | Subdiv | TotAssess | TotAppr | LivUnits |  
|----------|-------|---------|--------|-----------|---------|----------|  
- [ ] Whisker plot of value by tax district  
    - [ ] x value, y tax dist  
    - [ ] color code data  
        - Absolute value?  
        - Change per year?  
### Parcel Sales
- [ ] Track parcel sales by year  
        - ['PARID'] Record year of sale  
        - Record if sale to LLC / INC / CO
- [ ] Most sold parcel  
- [ ] ['UNIT_NUM'] v sale frequency  
- [ ] Single family unit sales by year  
### Data changes
- 2011 onward ['OWNER1'] --> ['Owner']

### parcel_sale algorithm

- [ ] Iterate over each ['ParcelID']
    - [ ] Check if ['Owner'] is the same  in each dataframe
    - [ ] add parcel info to new DF if ['Owner'] changes
#### This doesn't work how I wanted it to
- [x] Compare 2 data frames to see if the ['Owner'] stayed the same
    - [x] create a dataframe of [['ParcelID', 'AssessDifference']] 
    - [x] pd.concat(join='outer') sales + original dataframe
    - [x] move on to the next set of dataframes
    - [x] return appended dataframes

### Sales Analysis
- [x] Total number of parcels
    - [x] Change in parcel count over time
- [ ] Frequently sold parcels
- [ ] Most active TaxDist
- [ ] Highest TotAppr
- [ ] Sales per year

In [ ]:
# find which years have data
years = atlanta_df['TaxYear'].unique()
# index on year. Could do drop=False but keeping the old df seems like a good idea currently.....(foreshadowing?)
year_df = atlanta_df.set_index('TaxYear')

In [ ]:
# find properties that have changed owner in the past year.
year_df[year_df.loc[2009]['Owner'].isin(year_df.loc[2010]['Owner']) == False]

In [ ]:
# subset property owned by an LLC. Should expand to any company.
# LLC, LP, CORP, 
Parcels_10[Parcels_10['Owner'].str.contains('LLC')].head()

In [ ]:
# number of unique companies that own property. Should expand to any company.
# LLC, LP, CORP,
atlanta_df[atlanta_df['Owner'].str.contains('LLC')]['Owner'].unique().size

In [ ]:
# explore subdivision data
Parcels_15['SubdivBlck'].unique()

## WTF 
- Antioch Baptist Church Of Atlanta Cemetary  
    - Assessed to be worth $1.3B   
    - https://iaspublicaccess.fultoncountyga.gov/Datalets/Datalet.aspx?sIndex=0&idx=1

## This is markdown ya goof!
year_list = [int(pd.unique(df['TaxYear'])) for df in dfs]  
parcel_data = pd.concat(dfs, keys=[year_list])
parcel_data

In [25]:
test = pd.DataFrame({'o': [1, 2, 3, 4, 5], 'p': [2, 3, 4, 5, 6], 'g': [3, 5, 3, 5, 2]})
test.set_index('g', inplace=True)

In [26]:
test.loc[3]['p']

g
3    2
3    4
Name: p, dtype: int64