In [1]:
import pandas as pd              # v2.0.1
import numpy as np               # v1.24.3
#import matplotlib.pyplot as plt  # v3.7.1
#import folium                    # v0.14.0
# adding a comment to test git integration

In [2]:
col_type = {'TaxYear' : 'int16', 'TotAppr' : 'int32', 'TotAssess' : 'int32', 'LandAppr' : 'int32'}
atlanta_df = pd.read_csv(r'CleanedAtlantaPropertyData_2009-2022.csv', sep=',', dtype=col_type)
atlanta_df.head(3)

C:\Users\Owner\AppData\Local\Temp\ipykernel_10396\4227754286.py:2: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  atlanta_df = pd.read_csv(r'CleanedAtlantaPropertyData_2009-2022.csv', sep=',', dtype=col_type)

,OBJECTID,TaxYear,Owner,ParcelID,Address,AddrStreet,TaxDist,LUCode,NbrHood,TotAppr,TotAssess,LandAppr,LandAssess,LivUnits,LandAcres
0,10,2009,MALLORY TAMIKA,14 0245 LL2979,904 SOCIETY CIR,NaN,05,107,14593,0,0,0,NaN,1.0,NaN
1,11,2009,BELL EDWINA S,14 0245 LL2987,906 SOCIETY CIR,NaN,05,107,14593,0,0,0,NaN,1.0,NaN
2,16,2009,CB HABERSHAM III LLC,17 009800110426,3564 ROSWELL RD UNIT 55,NaN,05,107,1177,0,0,0,NaN,1.0,NaN

In [3]:
atlanta_df['TaxYear'].unique()
# There is no 2022 data. I don't know if they mislabeled the db or got 2023 done early.

array([2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019,
       2020, 2021, 2023], dtype=int16)

In [8]:
test = atlanta_df[['TaxYear', 'Owner', 'ParcelID']]#.set_index('ParcelID', drop=False)
id = test.iloc[2]['ParcelID']
test_sale = test[test['ParcelID']==id]
test_sale
#test.loc[id]['Owner']

         TaxYear                                      Owner         ParcelID
2           2009                       CB HABERSHAM III LLC  17 009800110426
204749      2010                              SBN TRUST THE  17 009800110426
403527      2011                             SBN TRUST THE   17 009800110426
554605      2012                             SBN TRUST THE   17 009800110426
589927      2013                             SBN TRUST THE   17 009800110426
858659      2014                             SBN TRUST THE   17 009800110426
887378      2015  MOSES ELIZABETH LINHART & MOSES MARILYN L  17 009800110426
1034596     2016  MOSES ELIZABETH LINHART & MOSES MARILYN L  17 009800110426
1182405     2017  MOSES ELIZABETH LINHART & MOSES MARILYN L  17 009800110426
1344389     2018  MOSES ELIZABETH LINHART & MOSES MARILYN L  17 009800110426
1479553     2019  MOSES ELIZABETH LINHART & MOSES MARILYN L  17 009800110426
1628580     2020  MOSES ELIZABETH LINHART & MOSES MARILYN L  17 009800110426
1778038     2021                   MOSES ELIZABETH LINHART   17 009800110426
1924725     2023                   MOSES ELIZABETH LINHART   17 009800110426

In [210]:
t_df = pd.DataFrame({'TaxYear':[10,11,12,13,14,15], 'Owner':['Jim', 'Jim', 'Natalie', 'Jane', 'Jane', 'Natalie'],
                     'ParcelID':[5,5,5,5,5,5]})
t_df

   TaxYear    Owner  ParcelID
0       10      Jim         5
1       11      Jim         5
2       12  Natalie         5
3       13     Jane         5
4       14     Jane         5
5       15  Natalie         5

parcel_df.map(lambda x: True if x != owner

In [216]:
def parcel_transfer(parcel_df, owner):
    '''iterates over the owner column and compares [owner][i] with initial owner. If the owner changes, the year is recorded
        and the new owner is used for subsequent comparisons'''
    sales_year = [parcel_df.TaxYear.iloc[0]]
    for i in range(parcel_df.shape[0]):
        if parcel_df.Owner.iloc[i] != owner:
            sales_year.append(parcel_df.TaxYear.iloc[i])
        owner = parcel_df.Owner.iloc[i]
    parcel_sales = {parcel_df.ParcelID.iloc[0]: sales_year}
    # change to append parcel_sales as column in sales dataframe? Use to create True/ False columnd in DF?
    # 
    return parcel_sales

In [217]:
parcel_transfer(test_sale, test_sale.Owner.iloc[0])

{'17 009800110426': [2009, 2010, 2011, 2015, 2021]}

In [211]:
parcel_transfer(t_df, t_df.Owner.iloc[0])

{5: [10, 12, 13, 15]}

In [ ]:
def parcel_sales_refactor(df_list):
    '''return parcels sold in a given year'''
    sold_df = pd.DataFrame({'ParcelID':[], 'TaxYear':[]})

In [ ]:
def year_sales(year_list, sales_df):
    '''Takes a list of years and a dataframe of sales records and returns a dict of sales per year'''
    sales_per_year = {}
    for x in year_list:
        sales_per_year[x] = len(sales_df[sales_df['TaxYear']==x])
    return sales_per_year

## Analysis
- [ ] which owners changed year to year
    - [ ]  How many ['Owner']s have more than one property
- [ ] How many parcels changed owners during a given year
- [ ] property value year to year.
- [ ] Bar Chart sales v time
- [ ] Line graph property value
- [ ] Changes in livable units
- [ ] Local coverage of gentrification v tax records?  
| ParcelID | Owner | TaxDist | Subdiv | TotAssess | TotAppr | LivUnits |  
|----------|-------|---------|--------|-----------|---------|----------|  
- [ ] Whisker plot of value by tax district  
    - [ ] x value, y tax dist  
    - [ ] color code data  
        - Absolute value?  
        - Change per year?  
### Parcel Sales
- [ ] Track parcel sales by year  
        - ['PARID'] Record year of sale  
        - Record if sale to LLC / INC / CO
- [ ] Most sold parcel  
- [ ] ['UNIT_NUM'] v sale frequency  
- [ ] Single family unit sales by year  
### Data changes
- 2011 onward ['OWNER1'] --> ['Owner']

### parcel_sale algorithm

- [ ] Iterate over each ['ParcelID']
    - [ ] Check if ['Owner'] is the same  in each dataframe
    - [ ] add parcel info to new DF if ['Owner'] changes
#### This doesn't work how I wanted it to
- [x] Compare 2 data frames to see if the ['Owner'] stayed the same
    - [x] create a dataframe of [['ParcelID', 'AssessDifference']] 
    - [x] pd.concat(join='outer') sales + original dataframe
    - [x] move on to the next set of dataframes
    - [x] return appended dataframes

### Sales Analysis
- [x] Total number of parcels
    - [x] Change in parcel count over time
- [ ] Frequently sold parcels
    - [ ] Unique Owners
    - [ ] Year sold
- [ ] Most active TaxDist
- [ ] Highest TotAppr
- [ ] Sales per year

In [ ]:
# find which years have data
years = atlanta_df['TaxYear'].unique()
# index on year. Could do drop=False but keeping the old df seems like a good idea currently.....(foreshadowing?)
year_df = atlanta_df.set_index('TaxYear')

In [ ]:
# find properties that have changed owner in the past year.
year_df[year_df.loc[2009]['Owner'].isin(year_df.loc[2010]['Owner']) == False]

In [ ]:
# subset property owned by an LLC. Should expand to any company.
# LLC, LP, CORP, 
Parcels_10[Parcels_10['Owner'].str.contains('LLC')].head()

In [ ]:
# number of unique companies that own property. Should expand to any company.
# LLC, LP, CORP,
atlanta_df[atlanta_df['Owner'].str.contains('LLC')]['Owner'].unique().size

In [ ]:
# explore subdivision data
Parcels_15['SubdivBlck'].unique()

## WTF 
- Antioch Baptist Church Of Atlanta Cemetary  
    - Assessed to be worth $1.3B   
    - https://iaspublicaccess.fultoncountyga.gov/Datalets/Datalet.aspx?sIndex=0&idx=1

## This is markdown ya goof!
year_list = [int(pd.unique(df['TaxYear'])) for df in dfs]  
parcel_data = pd.concat(dfs, keys=[year_list])
parcel_data

In [47]:
test = pd.DataFrame({'o': [1, 2, 3, 4, 5], 'p': [2, 3, 4, 5, 6], 'g': [3, 5, 3, 5, 2], 'id':[22, 22, 12, 18, 18]})
test

   o  p  g  id
0  1  2  3  22
1  2  3  5  22
2  3  4  3  12
3  4  5  5  18
4  5  6  2  18

In [54]:
index = [test['id'], test['g']]
idx = pd.MultiIndex.from_arrays(index)
idx

MultiIndex([(22, 3),
            (22, 5),
            (12, 3),
            (18, 5),
            (18, 2)],
           names=['id', 'g'])

In [65]:
t1 = test.set_index(idx, drop=True)
t1.drop(['g','id'],axis=1, inplace=True)
t1

      o  p
id g
22 3  1  2
   5  2  3
12 3  3  4
18 5  4  5
   2  5  6

In [83]:
t1.xs[3, axis=0, level=1]

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (153409513.py, line 1)

## Old Code, don't use but maybe learn from?

In [ ]:
# Only finds sales where the owner left atlanta the next tax year
def parcel_sale(df_list):
    ''' returns parcels sold where owner left Atlanta in a given year'''
    # feels like a kludgey way to select the next element
    i = 0
    leave_df = pd.DataFrame( {'ParcelID': [], 'TaxYear': []})
    for owner in df_list:
        n = i+1
        if i == len(df_list)-1:
            return sales_df
        else:
            sales = owner[owner['Owner'].isin(df_list[n]['Owner']) == False]
            leave_df = pd.concat([leave_df, sales[['ParcelID', 'TaxYear', 'TaxDist', 'TotAssess',
                                                   'TotAppr', 'LivUnits']]])
            i += 1