In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import folium

In [13]:
col_types = {'Digest': 'int16'}
Parcels_09 = pd.read_csv(r'F:/GISdata/Atlanta/Tax_Parcels_2009.csv', sep=',', index_col='OBJECTID', dtype=col_types, low_memory=False)
Parcels_10 = pd.read_csv(r'F:/GISdata/Atlanta/Tax_Parcels_2010.csv', sep=',', index_col='OBJECTID', dtype=col_types, low_memory=False)
col_types = {'TaxYear': 'int16'}
Parcels_11 = pd.read_csv(r'F:/GISdata/Atlanta/Tax_Parcels_2011.csv', sep=',', index_col='OBJECTID', dtype=col_types, low_memory=False)
Parcels_12 = pd.read_csv(r'F:/GISdata/Atlanta/Tax_Parcels_2012.csv', sep=',', index_col='OBJECTID', dtype=col_types, low_memory=False)
Parcels_13 = pd.read_csv(r'F:/GISdata/Atlanta/Tax_Parcels_2013.csv', sep=',', index_col='OBJECTID', dtype=col_types, ow_memory=False)
Parcels_14 = pd.read_csv(r'F:/GISdata/Atlanta/Tax_Parcels_2014.csv', sep=',', index_col='OBJECTID', dtype=col_types, low_memory=False)
Parcels_15 = pd.read_csv(r'F:/GISdata/Atlanta/Tax_Parcels_2015.csv', sep=',', index_col='OBJECTID', dtype=col_types, low_memory=False)
# Parcels_16 = pd.read_csv(r'F:/GISdata/Atlanta/Tax_Parcels_2016.csv', sep=',', index_col='OBJECTID', low_memory=False)
# Parcels_17 = pd.read_csv(r'F:/GISdata/Atlanta/Tax_Parcels_2017.csv', sep=',', index_col='OBJECTID', low_memory=False)
# Parcels_18 = pd.read_csv(r'F:/GISdata/Atlanta/Tax_Parcels_2018.csv', sep=',', index_col='OBJECTID', low_memory=False)
# Parcels_19 = pd.read_csv(r'F:/GISdata/Atlanta/Tax_Parcels_2019.csv', sep=',', index_col='OBJECTID', low_memory=False)
# Parcels_20 = pd.read_csv(r'F:/GISdata/Atlanta/Tax_Parcels_2020.csv', sep=',', index_col='OBJECTID', low_memory=False)
# Parcels_21 = pd.read_csv(r'F:/GISdata/Atlanta/Tax_Parcels_2021.csv', sep=',', index_col='OBJECTID', low_memory=False)
# Parcels_22 = pd.read_csv(r'F:/GISdata/Atlanta/Tax_Parcels_2022.csv', sep=',', index_col='OBJECTID', low_memory=False)

In [15]:
# a list of parcel tax IDs in the City of Atlanta.
atlanta_tax_IDs = ['05', '05A', '05B', '05C', '05D', '05E', '05F', '05G', '05H', '05I', '05J',
                    '05K', '05L', '05P', '05Q', '05R', '05S', '05T', '05U', '05V', '05W', '05X',
                  '05Y', '05Z']  

# column names changed in 2011, renaming to make analysis easier
new_cols = {'PARID': 'ParcelID', 'TAX_DISTR': 'TaxDist', 'Digest': 'TaxYear','LIV_UNITS': 'LivUnits', 'OWNER1': 'Owner',
            'TOT_ASSESS': 'TotAssess','TOT_APPR': 'TotAppr', 'TAXYEAR': 'TaxYear'}
Parcels_10.rename(columns=new_cols, inplace=True)
Parcels_09.rename(columns=new_cols, inplace=True)  

# a subset of columns to analyze.
simplified_cols = ['ParcelID', 'TaxDist', 'Owner', 'TotAppr', 'TotAssess', 'LIV_UNITS']

dtype('float64')

In [38]:
def parcel_sale(df_list):
    ''' returns parcels sold in a given year'''
    # feels like a kludgey way to select the next element
    i = 0
    sales_df = pd.DataFrame( {'ParcelID': [], 'TaxYear': []})
    for owner in df_list:
        n = i+1
        if i == len(df_list)-1:
            return sales_df
        else:
            sales = owner[owner['Owner'].isin(df_list[n]['Owner']) == False]
            sales_df = pd.concat([sales_df, sales[['ParcelID', 'TaxYear', 'TaxDist', 'TotAssess',
                                                   'TotAppr', 'LivUnits']]])
            i += 1

In [71]:
def year_sales(year_list, sales_df):
    '''Takes a list of years and a dataframe of sales records and returns a dict of sales per year'''
    sales_per_year = {}
    for x in year_list:
        sales_per_year[x] = len(sales_df[sales_df['TaxYear']==x])
    return sales_per_year

# The Plan
- [x] Get property records
- [ ] Clean data
    - [x] Fix headers  
## Analysis
- [ ] Bar Chart sales v time
- [ ] Line graph property value
- [ ] Changes in livable units
- [ ] Local coverage of gentrification v tax records?  
| ParcelID | Owner | TaxDist | Subdiv | TotAssess | TotAppr | LivUnits |  
|----------|-------|---------|--------|-----------|---------|----------|  
- [ ] Whisker plot of value by tax district

## Parcel data information
The CAMA information included with the published dataset is selected based on its value to the typical consumer of the data and includes the parcel identification number, the property address, property owner, owner's mailing address, tax district, assessed and appraised value for land and improvements, the number of livable units, acreage, property class and land use class.

Fulton County GIS Collaboration Group [Centerline Address Landmark Data Model](http://share.myfultoncountyga.us/datashare/fultoncounty/Documents/CenterlineAddressLandmarkDataModelDocument.pdf)

## [Fulton County Tax Districts](https://fultonassessor.org/wp-content/uploads/sites/16/2018/05/Fulton-County-Tax-Districts-2018.pdf)
05 City of Atlanta  
05A City of Atlanta – Downtown CID  
05B City of Atlanta – Buckhead CID  
05C City of Atlanta – Midtown CID  
05D City of Atlanta – Downtown CID/Midtown CID  
05E City of Atlanta – Downtown CID/Midtown CID/Eastside TAD  
05F City of Atlanta – Downtown CID/Eastside TAD  
05G City of Atlanta – Beltline TAD/Midtown CID  
05H City of Atlanta – Airport West CID  
05I City of Atlanta – Airport West CID/Princeton Lakes TAD  
05J City of Atlanta – Little Five Points CID  
05K City of Atlanta - Westside CID  
05L City of Atlanta – Westside CID/Beltline TAD  
05P City of Atlanta – Stadium TAD  
05Q City of Atlanta – Campbellton TAD  
05R City of Atlanta – Metropolitan TAD  
05S City of Atlanta – Hollowell TAD  
05T City of Atlanta – Beltline TAD  
05U City of Atlanta – Princeton Lakes TAD  
05V City of Atlanta – Perry Bolton TAD  
05W City of Atlanta – Eastside TAD  
05X City of Atlanta – Atlantic Station TAD  
05Y City of Atlanta – Downtown CID/Westside TAD  
05Z City of Atlanta – Westside TAD  
10 City of Alpharetta  
10A City of Alpharetta – North Fulton CID    
15 City of College Park  
15H City of College Park –Airport West CID  
15Z City of College Park – College Park TAD  
20 City of East Point  
20H City of East Point – Airport West CID  
20I City of East Point- East Point TAD #2/Airport West CID  
20J City of East Point – East Point TAD/Airport West CID  
20Y City of East Point – East Point TAD #2  
20Z City of East Point – East Point TAD  
25 City of Fairburn  
25C City of Fairburn – South Fulton CID  
30 City of Hapeville  
30A City of Hapeville – Airport West CID  
30B City of Hapeville – Hapeville TAD/Airport West CID  
30Z City of Hapeville – Hapeville TAD  
35 City of Mountain Park  
40 City of Palmetto  
40C City of Palmetto – South Fulton CID  
45 City of Roswell  
45A City of Roswell – North Fulton CID  
50 City of Union City  
50C City of Union City – South Fulton CID   
50Z City of Union City – Union City TAD  
55 City of South Fulton  
55C City of South Fulton – South Fulton CID  
55D City of South Fulton – Fulton Industrial Boulevard CID  
55H City of South Fulton – Airport West CID  
56 City of Milton  
56A City of Milton – North Fulton CID  
57 City of Johns Creek  
59 City of Sandy Springs  
59B City of Sandy Springs – Fulton Perimeter CID  
65 City of Chattahoochee Hills  
70 Fulton Industrial District  
70D Fulton Industrial District – Fulton Industrial Boulevard CID  
Revised June 9, 2016

In [33]:
Parcels_11.columns

Index(['ParcelID', 'TaxYear', 'Address', 'AddrNumber', 'AddrPreDir',
       'AddrStreet', 'AddrSuffix', 'AddrPosDir', 'AddrUntTyp', 'AddrUnit',
       'Owner', 'OwnerAddr1', 'OwnerAddr2', 'TaxDist', 'TotAssess',
       'LandAssess', 'ImprAssess', 'TotAppr', 'LandAppr', 'ImprAppr', 'LUCode',
       'ClassCode', 'LivUnits', 'LandAcres', 'NbrHood', 'Subdiv', 'SubdivNum',
       'SubdivLot', 'SubdivBlck', 'Shape__Area', 'Shape__Length'],
      dtype='object')

In [37]:
Parcels_09.columns

Index(['DIGEST', 'SITUS', 'TAXPIN', 'ParcelID', 'ATRPIN', 'TaxDist', 'Owner',
       'OWNER2', 'ADD2', 'ADD3', 'ADD4', 'ADD5', 'LUC', 'NBHD', 'PROP_CLASS',
       'CLASS', 'TotAppr', 'TotAssess', 'IMPR_APPR', 'LAND_APPR', 'FUL_EX_COD',
       'VAL_ACRES', 'STRUCT_FLR', 'STRUCT_YR', 'TIEBACK', 'TaxYear',
       'STATUS_COD', 'LivUnits', 'PCODE', 'UNIT_NUM', 'EXTVER', 'Shape__Area',
       'Shape__Length'],
      dtype='object')

In [21]:
# Parcels_10.columns

In [22]:
# Parcels_11.columns

In [23]:
# Parcels_12.columns

In [24]:
# Parcels_13.columns

In [25]:
# Parcels_14.columns

In [26]:
# Parcels_15.columns

In [29]:
# Parcels_10.columns

In [78]:
Parcels_15['SubdivBlck'].unique()

array([nan, 'D', 'E', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'A', 'B', 'C',
       'F', 'G', 'H', '200', 'I', 'J', 'K', '2', '1', '3', '4', '5', '6',
       '7', '8', '9', '10', '11', '6200', '6400', '6600', '6500', '6300',
       '196', '197', '198', '199', 'S', 'T', '161', '162', '163', '164',
       '167', '168', '171', '172', '173', '174', '175', '176', '177',
       '194', '195', '800', '900', '1000', '1100', '1200', '1300', '1400',
       '1500', '1600', '1700', '1800', '1900', '2000', '2100', '2200',
       '2300', '2400', '400', '100', '500', '300', '70', '30', 'OS', 'CA',
       'U', '47', '29', '28', '38', '27', '45', '46', '34', '41', '32',
       '31', '35', '43', '33', '36', '39', '40', '44', '37', '42', '60',
       '80', '20', 'V', 'MA', 'MU', '15', '13', '12', '14', 'BLDG 4',
       'BLDG 1', '22', '25', '21', '23', '24', '26', 'BLDG B', '19', '18',
       '17', '16', '51', '111', '66', '54', '49', '79', '92', '78', '88',
       '87', '76', '83', '73', '81', '94', '74', '86', '89', '93', '72',
       '71', '52', '65', '63', '91', '68', '64', '56', '90', '55', '57',
       '61', '58', '67', '69', '62', '53', '50', '95', '77', '97', '75',
       '85', '82', '84', '96', '3000', '4000', 'G9', 'F13', 'F6', 'A - D',
       '600', '2500', '2900', '700', '7300', '4B', 'R5', 'A2', 'B6', 'B7',
       'B8', 'A4', 'B2', 'A5', '5000', '3700', 'DD', '101', 'EE',
       'PH 5 C', 'PH 5 B', 'PH 5 A', 'VA4', '16-19', '41-42', '39-40',
       '`', 'A/B', 'B-2', 'CU', 'LL', 'KK', 'Z', 'Y', 'BLG1', 'BLG2',
       'BLG3', 'C 1', 'AA', 'D1', 'BLDG 9', 'E2', 'E1', 'LW', 'BLDG 3',
       'A 2', 'A1', 'A-1', 'A 1', 'A-2', '03', '01', '0', 'X', 'PH-B',
       'PH-A', '05', '7N', '7S', '9000'], dtype=object)

In [29]:
# subset property owned by an LLC
Parcels_10[Parcels_10['Owner'].str.contains('LLC')].head()

,DIGEST,SITUS,TAXPIN,PARID,ATRPIN,TaxDist,OWNER1,OWNER2,ADD2,ADD3,...,TIEBACK,TAXYEAR,STATUS_COD,LIV_UNITS,PCODE,UNIT_NUM,GID,EXTVER,Shape__Area,Shape__Length
OBJECTID,,,,,,,,,,,,,,,,,,,,,
4,2010,3908 DAHLWINY CT,06 0310 LL047,06 0310 LL0474,06 -0310- LL-047-4,59,CDG HOMES LLC,,1235 HIGHTOWER TRL SUITE 300,ATLANTA GA 30350,...,,2010,X,1,,47,0,20101028,18713.522217,584.000021
6,2010,3916 DAHLWINY CT,06 0310 LL049,06 0310 LL0490,06 -0310- LL-049-0,59,CDG HOMES LLC,,1235 HIGHTOWER TRL SUITE 300,ATLANTA GA 30350,...,,2010,X,1,,49,0,20101028,14968.556396,494.274612
7,2010,3920 DAHLWINY CT,06 0310 LL050,06 0310 LL0508,06 -0310- LL-050-8,59,CDG HOMES LLC,,1235 HIGHTOWER TRL SUITE 300,ATLANTA GA 30350,...,,2010,X,1,,50,0,20101028,14431.125244,491.916313
8,2010,3924 DAHLWINY CT,06 0310 LL051,06 0310 LL0516,06 -0310- LL-051-6,59,CDG HOMES LLC,,1235 HIGHTOWER TRL SUITE 300,ATLANTA GA 30350,...,,2010,X,1,,51,0,20101028,14919.574219,499.174663
9,2010,3928 DAHLWINY CT,06 0310 LL052,06 0310 LL0524,06 -0310- LL-052-4,59,CDG HOMES LLC,,1235 HIGHTOWER TRL SUITE 300,ATLANTA GA 30350,...,,2010,X,1,,52,0,20101028,15514.727051,507.107625

In [17]:
# view of parcels that have an Atlanta Tax ID
atlanta_09DF = Parcels_09[Parcels_09['TaxDist'].isin(atlanta_tax_IDs) == True]
atlanta_10DF = Parcels_10[Parcels_10['TaxDist'].isin(atlanta_tax_IDs) == True]
atlanta_11DF = Parcels_11[Parcels_11['TaxDist'].isin(atlanta_tax_IDs) == True]
atlanta_12DF = Parcels_12[Parcels_12['TaxDist'].isin(atlanta_tax_IDs) == True]
atlanta_13DF = Parcels_13[Parcels_13['TaxDist'].isin(atlanta_tax_IDs) == True]
atlanta_14DF = Parcels_14[Parcels_14['TaxDist'].isin(atlanta_tax_IDs) == True]
atlanta_15DF = Parcels_15[Parcels_15['TaxDist'].isin(atlanta_tax_IDs) == True]

In [ ]:
atlanta_10DF[atlanta_10DF['Owner'].str.contains('LLC')]['Owner'].unique().size

### Parcel Sales
- [ ] Track parcel sales by year  
        - ['PARID'] Record year of sale  
        - Record if sale to LLC / INC / CO
- [ ] Most sold parcel  
- [ ] ['UNIT_NUM'] v sale frequency  
- [ ] Single family unit sales by year  
### Data changes
- 2011 onward ['OWNER1'] --> ['Owner']

In [68]:
sales_09DF = atlanta_09DF[atlanta_09DF['Owner'].isin(atlanta_10DF['Owner']) == False]
sales_10DF = atlanta_10DF[atlanta_10DF['Owner'].isin(atlanta_11DF['Owner']) == False]
sales_11DF = atlanta_11DF[atlanta_11DF['Owner'].isin(atlanta_12DF['Owner']) == False]

In [69]:
sales_09DF.head()

,DIGEST,SITUS,TAXPIN,PARID,ATRPIN,TaxDist,Owner,OWNER2,ADD2,ADD3,...,STRUCT_YR,TIEBACK,TAXYEAR,STATUS_COD,LIV_UNITS,PCODE,UNIT_NUM,EXTVER,Shape__Area,Shape__Length
OBJECTID,,,,,,,,,,,,,,,,,,,,,
16,2009,3564 ROSWELL RD UNIT 55,17 00980011042,17 009800110426,17 -0098-0011-042-6,05,CB HABERSHAM III LLC,,P O BOX 1930,ROSWELL GA 30077,...,0,,2009,A,1,,42,20090424,1011.680176,148.145000
41947,2009,3755 FORREST PARK RD SE,14 0001 LL067,14 0001 LL0670,14 -0001- LL-067-0,05,ZOHOURY NASSER J,,2070 AZALEA DR,ROSWELL GA 30075,...,1974,,2009,A,104,,67,20090424,356184.649658,2611.919470
41948,2009,3765 FORREST PARK RD SE,14 0001 LL068,14 0001 LL0688,14 -0001- LL-068-8,05,ZOHOURY NASSER,,2072 AZALEA DR,ROSWELL GA 30075,...,1968,,2009,A,128,,68,20090424,323660.594482,3005.461496
41954,2009,1043 CONLEY RD SE,14 00010001019,14 000100010199,14 -0001-0001-019-9,05,INGRAM LINDA,,1759 NISKEY COVE RD,ATLANTA GA 30331,...,1986,,2009,A,1,,19,20090424,31472.092285,863.169549
41978,2009,1066 FOREST VALLEY DR SE,14 00010001048,14 000100010488,14 -0001-0001-048-8,05,BROUGHTON MARIAN & ARTHUR,,1066 FOREST VALLEY DR SE,ATLANTA GA 30354 3610,...,1965,,2009,A,1,,48,20090424,18400.230957,600.558787

In [127]:
dfs = [Parcels_09, Parcels_10, Parcels_11, Parcels_12, Parcels_13, Parcels_14, Parcels_15]

In [129]:
Parcels_09[Parcels_09['Owner'].isin(dfs[1]['Owner']) == False]

,DIGEST,SITUS,TAXPIN,ParcelID,ATRPIN,TaxDist,Owner,OWNER2,ADD2,ADD3,...,STRUCT_YR,TIEBACK,TaxYear,STATUS_COD,LivUnits,PCODE,UNIT_NUM,EXTVER,Shape__Area,Shape__Length
OBJECTID,,,,,,,,,,,,,,,,,,,,,
16,2009,3564 ROSWELL RD UNIT 55,17 00980011042,17 009800110426,17 -0098-0011-042-6,05,CB HABERSHAM III LLC,,P O BOX 1930,ROSWELL GA 30077,...,0,,2009,A,1,,42,20090424,1011.680176,148.145000
17,2009,4365 PINE HOLLOW CT,11 02720117088,11 027201170883,11 -0272-0117-088-3,10,FOUQUET CHRISTOPHER &,,4365 PINEHOLLOW CT,ALPHARETTA GA 30022,...,1989,,2009,A,1,,88,20090424,15190.994385,535.639356
43,2009,106 GETTYSBURG PL,06 03640003006,06 036400030061,06 -0364-0003-006-1,59,SWEET ELEANOR B,,106 GETTYSBURG PL,DUNWOODY GA 30350,...,1985,,2009,A,1,,6,20090424,578049.841553,3441.192067
45,2009,108 GETTYSBURG PL,06 03640003008,06 036400030087,06 -0364-0003-008-7,59,COLLIGAN SHANNON,,108 GETTYSBURG PL,ATLANTA GA 30350,...,1985,,2009,A,1,,8,20090424,578049.841553,3441.192067
52,2009,275 LIRAC CT,11 05620237097,11 056202370978,11 -0562-0237-097-8,57,SUHS KURTIS,,275 LIRAC CT,ALPHARETTA GA 30022,...,1991,,2009,A,1,,97,20090424,20446.608154,585.357041
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
343841,2009,7488 SANDSTONE LN,09F05000036169,09F050000361691,09F-0500-0036-169-1,55,COOPER ROBERT & PHOENICIA,,7488 SANDSTONE LN,UNION CITY GA 30291,...,2006,,2009,A,1,,169,20090424,10752.578125,419.138737
343850,2009,24 BROAD ST,09F10050052025,09F100500520252,09F-1005-0052-025-2,25,MILLER LASCELLES,,24 WEST BROAD ST,FAIRBURN GA 30213,...,0,,2009,A,0,,25,20090424,3543.984375,270.342977
343868,2009,6226 BALTUSROL TRC,09F29000114154,09F290001141540,09F-2900-0114-154-0,50,HARVESTER HOMES INC,,P O BOX 5369,DOUGLASVILLE GA,...,0,,2009,A,0,,154,20090424,9403.093506,436.163069
343872,2009,4725 JAILETTE TRC,09F38020158127,09F380201581270,09F-3802-0158-127-0,55,DALCOE PAULINE,,7911 PALOMINO PASS,RIVERDALE GA 30274,...,2004,,2009,A,1,,127,20090424,29138.100098,752.073397
343884,2009,10915 WINDHAM WAY,11 01610054107,11 016100541070,11 -0161-0054-107-0,10,WEIS JANICE E &,,10915 WINDHAM WAY,ALPHARETTA GA 30022,...,1991,,2009,A,1,,107,20090424,12336.428223,479.118868

### parcel_sale algorithm
- [x] Compare 2 data frames to see if the ['Owner'] stayed the same
    - [x] create a dataframe of [['ParcelID', 'AssessDifference']] 
    - [x] pd.concat(join='outer') sales + original dataframe
    - [x] move on to the next set of dataframes
    - [x] return appended dataframes

In [85]:
atlanta_sales = parcel_sale([Parcels_09, Parcels_10, Parcels_11, Parcels_12, Parcels_13])
atlanta_sales.head()

           ParcelID  TaxYear TaxDist  TotAssess   TotAppr  LivUnits
16  17 009800110426   2009.0      05        0.0       0.0       1.0
17  11 027201170883   2009.0      10    86880.0  217200.0       1.0
43  06 036400030061   2009.0      59    42400.0  106000.0       1.0
45  06 036400030087   2009.0      59    42400.0  106000.0       1.0
52  11 056202370978   2009.0      57   120000.0  300000.0       1.0

### Sales Analysis
- [x] Total number of parcels
    - [x] Change in parcel count over time
- [ ] Frequently sold parcels
- [ ] Most active TaxDist
- [ ] Highest TotAppr
- [ ] Sales per year

In [44]:
pd.unique(atlanta_sales['ParcelID'])

array(['17 009800110426', '11 027201170883', '06 036400030061', ...,
       '14 013700020724', '14 013700020732', '07 130100750140'],
      dtype=object)

In [45]:
atlanta_sales[atlanta_sales['ParcelID']=='17 009800110426']

              ParcelID  TaxYear TaxDist  TotAssess   TotAppr  LivUnits
16     17 009800110426   2009.0      05        0.0       0.0       1.0
95519  17 009800110426   2010.0      05   143600.0  359000.0       1.0

In [86]:
year_sales(list(pd.unique(atlanta_sales.TaxYear)), atlanta_sales)

{2009.0: 20756, 2010.0: 341920, 2011.0: 20922, 2012.0: 21758}

In [84]:
atlanta_sales[atlanta_sales['TaxYear']==2009].count()

ParcelID     0
TaxYear      0
TaxDist      0
TotAssess    0
TotAppr      0
LivUnits     0
dtype: int64

In [94]:
# atlanta_sales['TaxYear'] =  atlanta_sales['TaxYear'].astype('int16')

In [70]:
atlanta_sales[atlanta_sales['TaxYear']==2009]

               ParcelID  TaxYear TaxDist  TotAssess   TotAppr  LivUnits
16      17 009800110426   2009.0      05        0.0       0.0       1.0
17      11 027201170883   2009.0      10    86880.0  217200.0       1.0
43      06 036400030061   2009.0      59    42400.0  106000.0       1.0
45      06 036400030087   2009.0      59    42400.0  106000.0       1.0
52      11 056202370978   2009.0      57   120000.0  300000.0       1.0
...                 ...      ...     ...        ...       ...       ...
343841  09F050000361691   2009.0      55   101800.0  254500.0       1.0
343850  09F100500520252   2009.0      25   113880.0  284700.0       0.0
343868  09F290001141540   2009.0      50     6960.0   17400.0       0.0
343872  09F380201581270   2009.0      55   173840.0  434600.0       1.0
343884  11 016100541070   2009.0      10   110880.0  277200.0       1.0

[20756 rows x 6 columns]