In [1]:
import pandas as pd              # v2.0.1
import numpy as np               # v1.24.3
#import matplotlib.pyplot as plt  # v3.7.1
#import folium                    # v0.14.0
# adding a comment to test git integration

In [2]:
col_type = {'TaxYear' : 'int16', 'TotAppr' : 'int32', 'TotAssess' : 'int32', 'LandAppr' : 'int32'}
atlanta_df = pd.read_csv(r'CleanedAtlantaPropertyData_2009-2022.csv', sep=',', dtype=col_type)
atlanta_df.head(3)

C:\Users\Owner\AppData\Local\Temp\ipykernel_9952\4227754286.py:2: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  atlanta_df = pd.read_csv(r'CleanedAtlantaPropertyData_2009-2022.csv', sep=',', dtype=col_type)

,OBJECTID,TaxYear,Owner,ParcelID,Address,AddrStreet,TaxDist,LUCode,NbrHood,TotAppr,TotAssess,LandAppr,LandAssess,LivUnits,LandAcres
0,10,2009,MALLORY TAMIKA,14 0245 LL2979,904 SOCIETY CIR,NaN,05,107,14593,0,0,0,NaN,1.0,NaN
1,11,2009,BELL EDWINA S,14 0245 LL2987,906 SOCIETY CIR,NaN,05,107,14593,0,0,0,NaN,1.0,NaN
2,16,2009,CB HABERSHAM III LLC,17 009800110426,3564 ROSWELL RD UNIT 55,NaN,05,107,1177,0,0,0,NaN,1.0,NaN

In [3]:
atlanta_df['TaxYear'].unique()
# There is no 2022 data. I don't know if they mislabeled the db or got 2023 done early.

array([2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019,
       2020, 2021, 2023], dtype=int16)

In [5]:
# Just test data so I'm not wrangling 2M rows all the time
t_df = pd.DataFrame({'TaxYear':[10,11,12,13,14,15], 'Owner':['Jim', 'Jim', 'Natalie', 'Jane', 'Jane', 'Natalie'],
                     'ParcelID':[5,5,5,5,5,5]})
t_df

   TaxYear    Owner  ParcelID
0       10      Jim         5
1       11      Jim         5
2       12  Natalie         5
3       13     Jane         5
4       14     Jane         5
5       15  Natalie         5

In [6]:
parcels = atlanta_df['ParcelID'].unique()
len(parcels)

157953

In [123]:
test = atlanta_df[['TaxYear', 'Owner', 'ParcelID']].copy()#.set_index('ParcelID', drop=False)
test['Owner'] = test['Owner'].str.strip()
id = test.iloc[2]['ParcelID']
# need to find a scalable way to do this. Needs to be a copy to avoid SetWithCopy / bad practices.
test_sale = test[test['ParcelID']==id].copy()

test_sale

         TaxYear                                      Owner         ParcelID
2           2009                       CB HABERSHAM III LLC  17 009800110426
204749      2010                              SBN TRUST THE  17 009800110426
403527      2011                              SBN TRUST THE  17 009800110426
554605      2012                              SBN TRUST THE  17 009800110426
589927      2013                              SBN TRUST THE  17 009800110426
858659      2014                              SBN TRUST THE  17 009800110426
887378      2015  MOSES ELIZABETH LINHART & MOSES MARILYN L  17 009800110426
1034596     2016  MOSES ELIZABETH LINHART & MOSES MARILYN L  17 009800110426
1182405     2017  MOSES ELIZABETH LINHART & MOSES MARILYN L  17 009800110426
1344389     2018  MOSES ELIZABETH LINHART & MOSES MARILYN L  17 009800110426
1479553     2019  MOSES ELIZABETH LINHART & MOSES MARILYN L  17 009800110426
1628580     2020  MOSES ELIZABETH LINHART & MOSES MARILYN L  17 009800110426
1778038     2021                    MOSES ELIZABETH LINHART  17 009800110426
1924725     2023                    MOSES ELIZABETH LINHART  17 009800110426

In [115]:
test['Owner'].str.strip()

0                                   MALLORY TAMIKA
1                                    BELL EDWINA S
2                             CB HABERSHAM III LLC
3          HOUSING AUTH OF THE CITY OF ATLANTA THE
4                                 CHAMPAGNE DEIDRA
                            ...
2068620                           STEVERSON SUMMER
2068621                           SHEHU SHEHU SULE
2068622                               PERRIE DAVID
2068623               ABRAHAMS AUBREY F & ANJOLI R
2068624                        SAXTON RUSS CYNTHIA
Name: Owner, Length: 2068625, dtype: object

In [91]:
x1 = parcel_iterator(test)
pd.DataFrame(x1).unstack().rename_axis(('ParcelID', 'TaxYear')).rename('Transfer')

ParcelID         TaxYear
14 0245  LL2979  2009       True
                 2011       True
                 2020       True
                 2010        NaN
                 2015        NaN
                 2021        NaN
14 0245  LL2987  2009       True
                 2011       True
                 2020        NaN
                 2010        NaN
                 2015        NaN
                 2021        NaN
17 009800110426  2009       True
                 2011       True
                 2020        NaN
                 2010       True
                 2015       True
                 2021       True
Name: Transfer, dtype: object

In [66]:
def parcel_transfer(parcel_df, owner):
    '''takes all tax years for a parcel then iterates over the owner column and compares [owner][i] with initial owner.
        If the owner changes, the year is recorded and the new owner is used for subsequent comparisons'''
    parcel_sale = {parcel_df.TaxYear.iloc[0]: True}
    for i in range(parcel_df.shape[0]):
        if parcel_df.Owner.iloc[i] != owner:
            parcel_sale[parcel_df.TaxYear.iloc[i]] = True
            #parcel_sale[parcel_df.TaxYear.iloc[i]] = True
        owner = parcel_df.Owner.iloc[i]
        ''' This only works if parcel_df is it's own df. Views trigger SetWithCopy. IDK the best way to do this yet
    parcel_df['Transfer'] = parcel_df['TaxYear'].map(parcel_sale)'''
    #return(parcel_df)
    return parcel_sale

In [96]:
# don't forget to remove the [:3] once you're done testing!
def parcel_iterator(parcel_df):
    '''takes a database of ParcelID, Owner, and TaxYear then calls parcel_transfer for each parcelID'''
    parcels = parcel_df['ParcelID'].unique()
    tracker_dict = {}
    for parcel in parcels[:3]:
        parcel_data = parcel_df[parcel_df['ParcelID']==parcel]
        tracker_dict[parcel] = parcel_transfer(parcel_data, parcel_data['Owner'].iloc[0])
    return pd.DataFrame(tracker_dict).unstack().rename_axis(('ParcelID', 'TaxYear')).rename('Transfer')

In [124]:
parcel_iterator(test)

ParcelID         TaxYear
14 0245  LL2979  2009       True
                 2020       True
                 2010        NaN
                 2015        NaN
                 2021        NaN
14 0245  LL2987  2009       True
                 2020        NaN
                 2010        NaN
                 2015        NaN
                 2021        NaN
17 009800110426  2009       True
                 2020        NaN
                 2010       True
                 2015       True
                 2021       True
Name: Transfer, dtype: object

### Transfer analysis
- [ ]  create T/F column indicating if owner is new owner

In [67]:
xfers = parcel_transfer(test_sale, test_sale.Owner.iloc[0])
xfers

{2009: True, 2010: True, 2011: True, 2015: True, 2021: True}

In [30]:
xfers

{2009: True, 2010: True, 2011: True, 2015: True, 2021: True}

In [125]:
p1 = ['14 0245  LL2979', '14 0245  LL2979', '17 009800110426']
x3 = atlanta_df[atlanta_df['ParcelID'].isin(p1)].copy()

In [126]:
x4 = pd.merge(x3, parcel_iterator(test), on=['ParcelID', 'TaxYear'], how='outer')
x4.head()

,OBJECTID,TaxYear,Owner,ParcelID,Address,AddrStreet,TaxDist,LUCode,NbrHood,TotAppr,TotAssess,LandAppr,LandAssess,LivUnits,LandAcres,Transfer
0,10.0,2009,MALLORY TAMIKA,14 0245 LL2979,904 SOCIETY CIR,NaN,05,107,14593,0.0,0.0,0.0,NaN,1.0,NaN,True
1,16.0,2009,CB HABERSHAM III LLC,17 009800110426,3564 ROSWELL RD UNIT 55,NaN,05,107,1177,0.0,0.0,0.0,NaN,1.0,NaN,True
2,36359.0,2010,MALLORY TAMIKA,14 0245 LL2979,904 SOCIETY CIR,NaN,05,107,14593,86300.0,34520.0,8400.0,NaN,1.0,NaN,NaN
3,95519.0,2010,SBN TRUST THE,17 009800110426,3564 ROSWELL RD UNIT 55,NaN,05,107,1177,359000.0,143600.0,16720.0,NaN,1.0,NaN,True
4,221332.0,2011,MALLORY TAMIKA,14 0245 LL2979,904 SOCIETY CIR,SOCIETY,05,107,14593,47400.0,18960.0,12600.0,5040.0,1.0,0.019995,NaN

In [127]:
x4[x4['ParcelID']=='14 0245  LL2979']

,OBJECTID,TaxYear,Owner,ParcelID,Address,AddrStreet,TaxDist,LUCode,NbrHood,TotAppr,TotAssess,LandAppr,LandAssess,LivUnits,LandAcres,Transfer
0,10.0,2009,MALLORY TAMIKA,14 0245 LL2979,904 SOCIETY CIR,NaN,05,107,14593,0.0,0.0,0.0,NaN,1.0,NaN,True
2,36359.0,2010,MALLORY TAMIKA,14 0245 LL2979,904 SOCIETY CIR,NaN,05,107,14593,86300.0,34520.0,8400.0,NaN,1.0,NaN,NaN
4,221332.0,2011,MALLORY TAMIKA,14 0245 LL2979,904 SOCIETY CIR,SOCIETY,05,107,14593,47400.0,18960.0,12600.0,5040.0,1.0,0.019995,NaN
6,255857.0,2012,MALLORY TAMIKA,14 0245 LL2979,904 SOCIETY CIR,SOCIETY,05,107,14593,38400.0,15360.0,10200.0,4080.0,1.0,0.019995,NaN
9,271799.0,2013,MALLORY TAMIKA,14 0245 LL2979,904 SOCIETY CIR,SOCIETY,05,107,14593,34900.0,13960.0,10400.0,4160.0,1.0,0.019995,NaN
10,81517.0,2014,MALLORY TAMIKA,14 0245 LL2979,904 SOCIETY CIR,SOCIETY,05,107,14593,34900.0,13960.0,10400.0,4160.0,1.0,0.019995,NaN
13,302751.0,2015,MALLORY TAMIKA,14 0245 LL2979,904 SOCIETY CIR,SOCIETY,05,107,14593,91400.0,36560.0,8100.0,3240.0,1.0,0.019995,NaN
15,271799.0,2016,MALLORY TAMIKA,14 0245 LL2979,904 SOCIETY CIR,SOCIETY,05,107,14593,91400.0,36560.0,8100.0,3240.0,1.0,0.020000,NaN
17,271799.0,2017,MALLORY TAMIKA,14 0245 LL2979,904 SOCIETY CIR,SOCIETY,05,107,14593,81800.0,32720.0,8800.0,3520.0,1.0,0.020000,NaN
19,140142.0,2018,MALLORY TAMIKA,14 0245 LL2979,904 SOCIETY CIR,SOCIETY,05,107,14593,81800.0,32720.0,8800.0,3520.0,1.0,0.020000,NaN
21,271799.0,2019,MALLORY TAMIKA,14 0245 LL2979,904 SOCIETY CIR,SOCIETY,05,107,14593,99200.0,39680.0,8800.0,3520.0,1.0,0.020000,NaN
23,271799.0,2020,BHADANI AKASH,14 0245 LL2979,904 SOCIETY CIR,SOCIETY,05,107,14593,130000.0,52000.0,11100.0,4440.0,1.0,0.020000,True
25,271799.0,2021,BHADANI AKASH,14 0245 LL2979,904 SOCIETY CIR,SOCIETY,05,107,14593,194700.0,77880.0,26100.0,10440.0,1.0,0.020000,NaN
27,271799.0,2023,BHADANI AKASH,14 0245 LL2979,904 SOCIETY CIR,SOCIETY,05,107,14593,200500.0,80200.0,26900.0,10760.0,1.0,0.020000,NaN

## Data changes
- 2011 onward ['OWNER1'] --> ['Owner'] 
### Data Cleaning
- [ ] ['Owner']str.strip() out white space before analysis
## Analysis
- [x] List of parcels across all years  
    Parcel_iterator does the job fine but it would proably be less resource intensive to return a list of indicies where the owner changed.
    That would avoid most of the shenanigans of turning tracker_dict into a dataframe and transforming it into a more useful shape. I might try 
    to implement this later but for now everything works and I want to make progress.
- [x] which owners changed year to year
    - [ ]  How many ['Owner']s have more than one property
- [ ] How many parcels changed owners during a given year
- [ ] Parcels created / absorbed per year / ever
- [ ] property value year to year.
- [ ] Bar Chart sales v time
- [ ] Line graph property value
- [ ] Changes in livable units
- [ ] Local coverage of gentrification v tax records?  

| ParcelID | Owner | TaxDist | Subdiv | TotAssess | TotAppr | LivUnits |  
|----------|-------|---------|--------|-----------|---------|----------|  

- [ ] Whisker plot of value by tax district  
    - [ ] x value, y tax dist  
    - [ ] color code data  
        - Absolute value?  
        - Change per year?  
### Sales Analysis
- [x] Total number of parcels
    - [x] Change in parcel count over time
- [ ] Frequently sold parcels
    - [ ] Unique Owners
    - [ ] Year sold
- [ ] Most active TaxDist
- [ ] Highest TotAppr
- [ ] Sales per year  
### Parcel Sales
- [ ] Track parcel sales by year  
        - ['PARID'] Record year of sale  
        - Record if sale to LLC / INC / CO
- [ ] Most sold parcel  
- [ ] ['UNIT_NUM'] v sale frequency  
- [ ] Single family unit sales by year  
### parcel_sale algorithm
- [ ] Iterate over each ['ParcelID']
    - [ ] Check if ['Owner'] is the same  in each dataframe
    - [ ] add parcel info to new DF if ['Owner'] changes
    
    
#### This doesn't work how I wanted it to
- [x] Compare 2 data frames to see if the ['Owner'] stayed the same
    - [x] create a dataframe of [['ParcelID', 'AssessDifference']] 
    - [x] pd.concat(join='outer') sales + original dataframe
    - [x] move on to the next set of dataframes
    - [x] return appended dataframes

In [14]:
# find which years have data
years = atlanta_df['TaxYear'].unique()
# index on year. Could do drop=False but keeping the old df seems like a good idea currently.....(foreshadowing?)
year_df = atlanta_df.set_index('TaxYear')

In [15]:
# find properties that have changed owner in the past year.
prop = year_df[year_df.loc[2009]['Owner'].isin(year_df.loc[2010]['Owner']) == False]
prop

C:\Users\Owner\AppData\Local\Temp\ipykernel_23612\424640314.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  prop = year_df[year_df.loc[2009]['Owner'].isin(year_df.loc[2010]['Owner']) == False]

KeyboardInterrupt:

In [ ]:
# subset property owned by an LLC. Should expand to any company.
# LLC, LP, CORP, 
Parcels_10[Parcels_10['Owner'].str.contains('LLC')].head()

In [ ]:
# number of unique companies that own property. Should expand to any company.
# LLC, LP, CORP,
atlanta_df[atlanta_df['Owner'].str.contains('LLC')]['Owner'].unique().size

In [ ]:
# explore subdivision data
Parcels_15['SubdivBlck'].unique()

## WTF 
- Antioch Baptist Church Of Atlanta Cemetary  
    - Assessed to be worth $1.3B   
    - https://iaspublicaccess.fultoncountyga.gov/Datalets/Datalet.aspx?sIndex=0&idx=1

## This is markdown ya goof!
year_list = [int(pd.unique(df['TaxYear'])) for df in dfs]  
parcel_data = pd.concat(dfs, keys=[year_list])
parcel_data

In [47]:
test = pd.DataFrame({'o': [1, 2, 3, 4, 5], 'p': [2, 3, 4, 5, 6], 'g': [3, 5, 3, 5, 2], 'id':[22, 22, 12, 18, 18]})
test

   o  p  g  id
0  1  2  3  22
1  2  3  5  22
2  3  4  3  12
3  4  5  5  18
4  5  6  2  18

In [54]:
index = [test['id'], test['g']]
idx = pd.MultiIndex.from_arrays(index)
idx

MultiIndex([(22, 3),
            (22, 5),
            (12, 3),
            (18, 5),
            (18, 2)],
           names=['id', 'g'])

In [65]:
t1 = test.set_index(idx, drop=True)
t1.drop(['g','id'],axis=1, inplace=True)
t1

      o  p
id g
22 3  1  2
   5  2  3
12 3  3  4
18 5  4  5
   2  5  6

In [83]:
t1.xs[3, axis=0, level=1]

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (153409513.py, line 1)

## Old Code, don't use but maybe learn from?

In [ ]:
# Only finds sales where the owner left atlanta the next tax year
def parcel_sale(df_list):
    ''' returns parcels sold where owner left Atlanta in a given year'''
    # feels like a kludgey way to select the next element
    i = 0
    leave_df = pd.DataFrame( {'ParcelID': [], 'TaxYear': []})
    for owner in df_list:
        n = i+1
        if i == len(df_list)-1:
            return sales_df
        else:
            sales = owner[owner['Owner'].isin(df_list[n]['Owner']) == False]
            leave_df = pd.concat([leave_df, sales[['ParcelID', 'TaxYear', 'TaxDist', 'TotAssess',
                                                   'TotAppr', 'LivUnits']]])
            i += 1